@{
    ViewData["Title"] = "Home Page";
}

<style>
body {
background-image : url( "https://fgg.edu.br/wp-content/uploads/2019/03/banner_biblioteca-1.jpg");
background-repeat: no-repeat;
background-position: center;
}
</style>

<div class="text-center">
    <h1 class="display-4">Bem vindo ao sistema Biblioteca</h1>
    <p>Use o menu superior para navegar.</p>
</div>
